#root {
    margin: 0;
    padding: 0;
}

input::placeholder {
    color: #134b00;
}

.menu:last-of-type {
    border-width: 0;
}

.chakra-card:hover {
    box-shadow:
        0 4px 6px -1px rgba(32, 126, 0, 0.1),
        0 2px 4px -1px rgba(32, 126, 0, 0.06);
}
